$base-color: #FEC801;
$accent-color: #010203;
$bg-color: #1A1E20;
$shadow: 0px 3px 12px rgba(0, 0, 0, 0.06);
$shadow-img: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.5s;
    scroll-behavior: smooth;


}

body {
    width: 100vw;
}

input[type="submit"] {
    cursor: pointer;
}

// INDEX PAGE

.hero-index {
    width: 100vw;
    height: 100vh;
    background-color: $base-color;
    display: flex;
    justify-content: center;


    .info-hero {
        width: 50vw;
        padding-left: 2em;
        margin-top: 8em;
        margin-right: 0;
        z-index: 5;

        h1 {
            font-weight: 600;
            font-size: 5vw;
            width: 80%;
            // font-size: 6rem;


            span {
                font-weight: 200;
                font-size: 7vw;
                letter-spacing: 3vw;
                margin: 0;
            }
        }

        p {
            margin-top: 2em;
            width: 35%;
            font-size: .8vw;
        }

        #join-us-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5em;

            a {
                text-decoration: none;
                color: $base-color;
                background-color: $accent-color;
                font-size: 2.2vw;
                font-weight: 200;
                padding: .6em 3em;
                border-radius: 2em;
                justify-self: center;
                box-shadow: $shadow;
            }

            a:hover {
                background-color: $bg-color;
            }
        }

    }

    .img-hero {
        width: 50vw;
        background-color: $bg-color;
        position: relative;
        overflow: visible;

        img {
            height: 110vh;
            position: absolute;
            bottom: 0;
            right: 2em;
            filter: $shadow-img;
        }
    }


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container {
        width: 50vw;
        background-color: $bg-color;
        overflow: visible;
        display: flex;
        align-items: baseline;

        img {
            height: 100vh;
            margin-left: 2em;
            transform: scaleX(-1);
            filter: $shadow-img;
            bottom: 0;
        }
    }


    .info-container {
        width: 50vw;
        height: 100vh;
        background-color: $base-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #form-container {
            width: 20em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                transform: scaleX(-1);
                width: 10em;
                margin: 1.5em;
                filter: $shadow-img;
            }

            p {
                font-size: .8rem;
                font-weight: 400;
                margin: 1.5em;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input[type="text"],
                input[type="password"] {
                    background-color: $base-color;
                    box-shadow: $shadow;
                    border-radius: 2em;
                    border: none;
                    margin: 1em 0;
                    padding: 1em 1.5em;
                    font-size: 1rem;
                }

                input[type="text"]:focus,
                input[type="password"]:focus {
                    background-color: lighten($color: $base-color, $amount: 15%);
                    outline: none;
                }

                input[type="submit"] {
                    background-color: $accent-color;
                    font-weight: 200;
                    font-size: 1rem;
                    color: $base-color;
                    box-shadow: $shadow;
                    padding: .9em 3em;
                    border: none;
                    border-radius: 2em;
                    margin: 1em 0;
                }

                input[type="submit"]:hover {
                    background-color: $bg-color;
                }
            }
        }
    }
}

.flashes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: .8rem;
    padding: 1.2em;
    color: white;
    border-radius: 2em;
    background-color: #c5253d;
}

// ORDER

nav {
    position: absolute;
    margin: 2em;
    display: inline;
    right: 2em;
    top: 2em;
    z-index: 5;


    a {
        text-decoration: none;
        background-color: $base-color;
        font-weight: 200;
        font-size: 1rem;
        color: $accent-color;
        box-shadow: $shadow;
        padding: .9em 3em;
        border: none;
        border-radius: 2em;
        margin: 1em 0;
        margin: 1em;
    }

    a:hover {
        background-color: lighten($color: $base-color, $amount: 15%);
    }
}

.hero-order {
    width: 100vw;
    height: 100vh;
    background-color: $base-color;
    display: flex;
    justify-content: center;


    .info-hero {
        width: 50vw;
        padding-left: 2em;
        margin-top: 8em;
        margin-right: 0;

        h1 {
            font-weight: 600;
            font-size: 6rem;
            width: 72%;

            span {
                font-weight: 200;
                font-size: 7rem;
                letter-spacing: 4rem;
                margin: 0;
            }
        }

        p {
            margin-top: 2em;
            width: 35%;
        }
    }

    .img-hero {
        width: 50vw;
        background-color: $bg-color;
        position: relative;
        overflow: visible;

        img {
            height: 100vh;
            position: absolute;
            bottom: 0;
            right: 8em;
            filter: $shadow-img;
        }
    }
}

.order-section {
    width: 13em;
    height: 18em;
    border-radius: 2em;
    background-color: $base-color;
    box-shadow: $shadow;
    margin: 2em;
    padding: .65em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 1rem;
        margin: .2em;
    }

    .product-name {
        display: none;
    }

    .order-image {
        width: 100%;
        height: 50%;
        border-radius: 2em;
        margin-bottom: .2em;
        object-fit: cover;
        filter: $shadow-img;
    }

    .order-spec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .thick-top {
        margin: .5em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .size,
    .thickness,
    .topings {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 1.15em;
        width: 100%;
        background-color: white;
        border-radius: 2em;
        position: relative;
        z-index: 1;
        margin: .2em;

        input[type='radio'] {
            display: none;
        }

        input:checked+label {
            color: white;
        }

        label {
            font-size: .36rem;
            text-align: center;
            cursor: pointer;
            transition: color .5s;
        }

        label:last-of-type::after {
            display: block;
            width: 3em;
            height: 100%;
            content: "";
            background: black;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 2em;
            transition: left 0.5s, width 0.5s;
            z-index: -1;
        }

        input:checked:nth-of-type(1)~label:last-of-type::after {
            width: 30%;
        }

        input:checked:nth-of-type(2)~label:last-of-type::after {
            width: 20%;
            left: 31%;
        }

        input:checked:nth-of-type(3)~label:last-of-type::after {
            width: 25%;
            left: 50.7%;
        }

        input:checked:nth-of-type(4)~label:last-of-type::after {
            width: 25%;
            left: 75%;
        }
    }

    .thickness {
        width: 45%;

        input:checked:nth-of-type(1)~label:last-of-type::after {
            width: 52%;
            left: 0%;
        }

        input:checked:nth-of-type(2)~label:last-of-type::after {
            width: 55%;
            left: 45%;
        }
    }

    .topings {
        width: 45%;

        input:checked:nth-of-type(1)~label:last-of-type::after {
            width: 52%;
            left: 0%;
        }

        input:checked:nth-of-type(2)~label:last-of-type::after {
            width: 53%;
            left: 47%;
        }
    }

    #cart-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-btn {
        text-decoration: none;
        border: none;
        background-color: black;
        color: white;
        padding: .45em 1.6em;
        border-radius: 2em;
        font-weight: 200;
        text-align: center;
        margin: 0 auto;
    }

    .cart-btn:hover {
        background-color: #343434;
    }
}

.order-section:hover {
    background-color: lighten($color: $base-color , $amount: 15%);
}

.container-order {
    width: 100vw;
    background-color: $bg-color;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    #container-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 80%;
    }
}

// CART

.cart-container {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;

    table,
    tr,
    th,
    td {
        width: 65vw;
        border-bottom: 1px solid;
        border-color: $base-color;
        border-collapse: collapse;
        text-align: center;
        padding: .5em;
    }

    tr:hover {
        background-color: $accent-color;
    }

    input[type="submit"] {
        text-decoration: none;
        color: $base-color;
        background-color: $bg-color;
        font-weight: 200;
        font-size: .7rem;
        padding: .3em 2em;
        border-radius: 2em;
        justify-self: center;
        box-shadow: $shadow;
        border: none;
    }

    input[type="submit"]:hover {
        color: $bg-color;
        background-color: $base-color;
    }
}

@media screen and (max-width: 1450px) {
    .info-hero {
        span {
            color: white;
        }

    }
}

@media screen and (max-width: 1200px) {
    .info-hero {
        h1 {
            color: white;
        }

    }
}

@media screen and (max-width: 1050px) {
    .img-hero {
        display: flex;
        align-items: baseline;
        background-color: $base-color !important;
        width: 0 !important;

        h1 {
            font-size: 5vw;
        }

        p {
            font-size: 1.3rem !important;
        }

        img {
            right: 0;
            width: 70vw;
            height: auto !important;
            // transform: scale(.5) translateY(-50%);
        }
    }

    .info-hero {
        width: 100vw !important;

        a {
            font-size: 1.5rem !important;
        }
    }
}